{  
  "openapi": "3.0.1",  
  "info": {  
    "title": "JSON Translation API",  
    "description": "API for JSON translation and document management",  
    "license": {  
      "name": "MIT"  
    },  
    "version": "1.0.0"  
  },  
  "servers": [  
    {  
      "url": "https://api.jsontrans.com"  
    }  
  ],  
  "paths": {  
    "/json/v1/translate": {  
      "get": {  
        "description": "Retrieve translations",  
        "parameters": [  
          {  
            "name": "limit",  
            "in": "query",  
            "description": "Maximum number of results to return",  
            "schema": {  
              "type": "integer",  
              "format": "int32"  
            }  
          },  
          {  
            "name": "jt-api-key",  
            "in": "header",  
            "required": true,  
            "description": "API authentication key",  
            "schema": {  
              "type": "string"  
            }  
          }  
        ],  
        "responses": {  
          "200": {  
            "description": "Successful response",  
            "content": {  
              "application/json": {  
                "schema": {  
                  "type": "object",  
                  "properties": {  
                    "code": {  
                      "type": "integer",  
                      "example": 200  
                    },  
                    "msg": {  
                      "type": "string",  
                      "example": "Translations retrieved successfully"  
                    },  
                    "data": {  
                      "type": "array",  
                      "items": {  
                        "$ref": "#/components/schemas/Translation"  
                      }  
                    }  
                  }  
                }  
              }  
            }  
          },  
          "400": {  
            "description": "Bad request",  
            "content": {  
              "application/json": {  
                "schema": {  
                  "type": "object",  
                  "properties": {  
                    "code": {  
                      "type": "integer",  
                      "example": 400  
                    },  
                    "msg": {  
                      "type": "string",  
                      "example": "Bad request"  
                    },  
                    "data": {  
                      "type": "string",  
                      "example": ""  
                    }  
                  }  
                }  
              }  
            }  
          }  
        }  
      },  
      "post": {  
        "description": "Create a new translation document",  
        "requestBody": {  
          "description": "Translation document to be created",  
          "content": {  
            "application/json": {  
              "schema": {  
                "$ref": "#/components/schemas/TranslationRequest"  
              }  
            }  
          },  
          "required": true  
        },  
        "parameters": [  
          {  
            "name": "jt-api-key",  
            "in": "header",  
            "required": true,  
            "description": "API authentication key",  
            "schema": {  
              "type": "string"  
            }  
          }  
        ],  
        "responses": {  
          "200": {  
            "description": "Translation document created successfully",  
            "content": {  
              "application/json": {  
                "schema": {  
                  "type": "object",  
                  "properties": {  
                    "code": {  
                      "type": "integer",  
                      "example": 200  
                    },  
                    "msg": {  
                      "type": "string",  
                      "example": "Translation document created successfully"  
                    },  
                    "data": {  
                      "properties": {  
                        "id": {  
                          "type": "string",  
                          "description": "The JSON document ID of the created translation",  
                          "example": "5fdb00c9-ce05-484e-a7e2-5f578953114b"  
                        }  
                      }  
                    }  
                  }  
                }  
              }  
            }  
          },  
          "400": {  
            "description": "Bad request",  
            "content": {  
              "application/json": {  
                "schema": {  
                  "type": "object",  
                  "properties": {  
                    "code": {  
                      "type": "integer",  
                      "example": 400  
                    },  
                    "msg": {  
                      "type": "string",  
                      "example": "Bad request"  
                    },  
                    "data": {  
                      "type": "string",  
                      "example": {} 
                    }  
                  }  
                }  
              }  
            }  
          }  
        }  
      }  
    },  
    "/json/v1/translate/{id}": {  
      "get": {  
        "description": "Retrieve a specific translation by ID",  
        "parameters": [  
          {  
            "name": "id",  
            "in": "path",  
            "description": "Unique identifier of the translation document",  
            "required": true,  
            "schema": {  
              "type": "string",  
              "example": "5fdb00c9-ce05-484e-a7e2-5f578953114b"  
            }  
          },  
          {  
            "name": "jt-api-key",  
            "in": "header",  
            "required": true,  
            "description": "API authentication key",  
            "schema": {  
              "type": "string"  
            }  
          }  
        ],  
        "responses": {  
          "200": {  
            "description": "Successful retrieval of translation",  
            "content": {  
              "application/json": {  
                "schema": {  
                  "type": "object",  
                  "properties": {  
                    "code": {  
                      "type": "integer",  
                      "example": 200  
                    },  
                    "msg": {  
                      "type": "string",  
                      "example": "Success"  
                    },  
                    "data": {  
                      "type": "object",  
                      "properties": {  
                        "uuid": {  
                          "type": "string",  
                          "example": "0a12dffb-0c2e-441e-9360-50c603e7bb69"  
                        },  
                        "origin_json": {  
                          "type": "string",  
                          "example": "{\"text\": \"Hello, world!\"}"  
                        },  
                        "translated_json": {  
                          "type": "string",  
                          "example": ""  
                        },  
                        "from_lang": {  
                          "type": "string",  
                          "example": "en"  
                        },  
                        "to_lang": {  
                          "type": "string",  
                          "example": "es"  
                        },  
                        "create_time": {  
                          "type": "string",  
                          "format": "date-time",  
                          "example": "2024-11-16T02:27:42.763577+00:00"  
                        },  
                        "update_time": {  
                          "type": "string",  
                          "format": "date-time",  
                          "example": "2024-11-16T02:27:42.763577+00:00"  
                        }  
                      }  
                    }  
                  }  
                }  
              }  
            }  
          },  
          "400": {  
            "description": "Bad request",  
            "content": {  
              "application/json": {  
                "schema": {  
                  "type": "object",  
                  "properties": {  
                    "code": {  
                      "type": "integer",  
                      "example": 400  
                    },  
                    "msg": {  
                      "type": "string",  
                      "example": "Bad request"  
                    },  
                    "data": {  
                      "type": "string",  
                      "example": ""  
                    }  
                  }  
                }  
              }  
            }  
          }  
        }  
      },  
      "put": {  
        "description": "Update a specific translation document",  
        "parameters": [  
          {  
            "name": "id",  
            "in": "path",  
            "description": "Unique identifier of the translation document",  
            "required": true,  
            "schema": {  
              "type": "string",  
              "example": "5fdb00c9-ce05-484e-a7e2-5f578953114b"  
            }  
          },  
          {  
            "name": "jt-api-key",  
            "in": "header",  
            "required": true,  
            "description": "API authentication key",  
            "schema": {  
              "type": "string"  
            }  
          }  
        ],  
        "requestBody": {  
          "description": "Updated translation document",  
          "content": {  
            "application/json": {  
              "schema": {  
                "$ref": "#/components/schemas/TranslationUpdateRequest"  
              }  
            }  
          },  
          "required": true  
        },  
        "responses": {  
          "200": {  
            "description": "Translation updated successfully",  
            "content": {  
              "application/json": {  
                "schema": {  
                  "type": "object",  
                  "properties": {  
                    "code": {  
                      "type": "integer",  
                      "example": 200  
                    },  
                    "msg": {  
                      "type": "string",  
                      "example": "Translation updated successfully"  
                    },  
                    "data": {  
                      "$ref": "#/components/schemas/Translation"  
                    }  
                  }  
                }  
              }  
            }  
          },  
          "400": {  
            "description": "Bad request",  
            "content": {  
              "application/json": {  
                "schema": {  
                  "type": "object",  
                  "properties": {  
                    "code": {  
                      "type": "integer",  
                      "example": 400  
                    },  
                    "msg": {  
                      "type": "string",  
                      "example": "Bad request"  
                    },  
                    "data": {  
                      "type": "string",  
                      "example": ""  
                    }  
                  }  
                }  
              }  
            }  
          }  
        }  
      },  
      "delete": {  
        "description": "Delete a specific translation document",  
        "parameters": [  
          {  
            "name": "id",  
            "in": "path",  
            "description": "Unique identifier of the translation document",  
            "required": true,  
            "schema": {  
              "type": "string",  
              "example": "5fdb00c9-ce05-484e-a7e2-5f578953114b"  
            }  
          },  
          {  
            "name": "jt-api-key",  
            "in": "header",  
            "required": true,  
            "description": "API authentication key",  
            "schema": {  
              "type": "string"  
            }  
          }  
        ],  
        "responses": {  
          "200": {  
            "description": "Translation document deleted successfully",  
            "content": {  
              "application/json": {  
                "schema": {  
                  "type": "object",  
                  "properties": {  
                    "code": {  
                      "type": "integer",  
                      "example": 200  
                    },  
                    "msg": {  
                      "type": "string",  
                      "example": "Translation document deleted"  
                    },  
                    "data": {  
                      "properties": {  
                        "id": {  
                          "type": "string",  
                          "description": "The JSON document ID of the created translation",  
                          "example": "5fdb00c9-ce05-484e-a7e2-5f578953114b"  
                        }  
                      }  
                    }  
                  }  
                }  
              }  
            }  
          },  
          "400": {  
            "description": "Bad request",  
            "content": {  
              "application/json": {  
                "schema": {  
                  "type": "object",  
                  "properties": {  
                    "code": {  
                      "type": "integer",  
                      "example": 400  
                    },  
                    "msg": {  
                      "type": "string",  
                      "example": "Bad request"  
                    },  
                    "data": {  
                      "type": "string",  
                      "example": ""  
                    }  
                  }  
                }  
              }  
            }  
          }  
        }  
      }  
    },
    "/json/v1/languages": {  
      "get": {  
        "description": "Retrieve supported languages",  
        "parameters": [  
          {  
            "name": "jt-api-key",  
            "in": "header",   
            "required": true,  
            "description": "API authentication key",  
            "schema": {  
              "type": "string"  
            }  
          }  
        ],  
        "responses": {  
          "200": {  
            "description": "Successful retrieval of supported languages",  
            "content": {  
              "application/json": {  
                "schema": {  
                  "type": "object",  
                  "properties": {  
                    "code": {  
                      "type": "integer",  
                      "example": 200  
                    },  
                    "msg": {  
                      "type": "string",  
                      "example": "Languages retrieved successfully"  
                    },  
                    "data": {  
                      "type": "object",  
                      "properties": {  
                        "languages": {  
                          "type": "array",  
                          "items": {  
                            "type": "object",  
                            "properties": {  
                              "code": {  
                                "type": "string",  
                                "description": "Language code",
                                "example":"en"
                              },  
                              "name": {  
                                "type": "string",   
                                "description": "Language name",
                                "example":"English"
                              }  
                            }  
                          }  
                        },  
                        "total": {  
                          "type": "integer",  
                          "description": "Total number of supported languages",
                          "example":1
                        }  
                      }  
                    }  
                  }  
                }  
              }  
            }  
          },  
          "400": {  
            "description": "Bad request",  
            "content": {  
              "application/json": {  
                "schema": {  
                  "type": "object",  
                  "properties": {  
                    "code": {  
                      "type": "integer",  
                      "example": 400  
                    },  
                    "msg": {  
                      "type": "string",  
                      "example": "Bad request"  
                    },  
                    "data": {  
                      "type": "string",  
                      "example": ""  
                    }  
                  }  
                }  
              }  
            }  
          }  
        }  
      }  
    },
    "/json/v1/languages/detect": {  
    "post": {  
      "description": "Detect the language of the provided text",  
      "parameters": [  
        {  
          "name": "jt-api-key",  
          "in": "header",   
          "required": true,  
          "description": "API authentication key",  
          "schema": {  
            "type": "string"  
          }  
        }  
      ],  
      "requestBody": {  
        "description": "Text for language detection",  
        "required": true,  
        "content": {  
          "application/json": {  
            "schema": {  
              "type": "object",  
              "required": ["source_text"],  
              "properties": {  
                "source_text": {  
                  "type": "string",  
                  "description": "Text to be analyzed for language detection",  
                  "example": "hello!"  
                }  
              }  
            }  
          }  
        }  
      },  
      "responses": {  
        "200": {  
          "description": "Successful language detection",  
          "content": {  
            "application/json": {  
              "schema": {  
                "type": "object",  
                "properties": {  
                  "code": {  
                    "type": "integer",  
                    "example": 200  
                  },  
                  "msg": {  
                    "type": "string",  
                    "example": "Language detected successfully"  
                  },  
                  "data": {  
                    "type": "object",  
                    "properties": {  
                      "detected_lang_code": {  
                        "type": "string",  
                        "description": "Detected language code",  
                        "example": "en"  
                      }  
                    }  
                  }  
                }  
              }  
            }  
          }  
        },  
        "400": {  
          "description": "Bad request",  
          "content": {  
            "application/json": {  
              "schema": {  
                "type": "object",  
                "properties": {  
                  "code": {  
                    "type": "integer",  
                    "example": 400  
                  },  
                  "msg": {  
                    "type": "string",  
                    "example": "Bad request"  
                  },  
                  "data": {  
                    "type": "string",  
                    "example": ""  
                  }  
                }  
              }  
            }  
          }  
        }  
      }  
    }  
  }  
  },  
  "components": {  
    "schemas": {  
      "Translation": {  
        "type": "object",  
        "required": [  
          "uuid",  
          "origin_json",  
          "translated_json",  
          "from_lang",  
          "to_lang",  
          "create_time",  
          "update_time"  
        ],  
        "properties": {  
          "uuid": {  
            "type": "string",  
            "description": "Unique identifier for the translation",  
            "example": "0a12dffb-0c2e-441e-9360-50c603e7bb69"  
          },  
          "origin_json": {  
            "type": "string",  
            "description": "Original JSON text to be translated",  
            "example": "{\"text\": \"Hello, world!\"}"  
          },  
          "translated_json": {  
            "type": "string",  
            "description": "Translated JSON text",  
            "example": ""  
          },  
          "from_lang": {  
            "type": "string",  
            "description": "Source language code",  
            "example": "en"  
          },  
          "to_lang": {  
            "type": "string",  
            "description": "Target language code",  
            "example": "es"  
          },  
          "create_time": {  
            "type": "string",  
            "format": "date-time",  
            "description": "Timestamp when the translation was created",  
            "example": "2024-11-16T02:27:42.763577+00:00"  
          },  
          "update_time": {  
            "type": "string",  
            "format": "date-time",  
            "description": "Timestamp when the translation was last updated",  
            "example": "2024-11-16T02:27:42.763577+00:00"  
          }  
        }  
      },  
      "TranslationRequest": {  
        "type": "object",  
        "required": [  
          "from_lang",  
          "to_lang",  
          "origin_json"  
        ],  
        "properties": {  
          "from_lang": {  
            "type": "string",  
            "description": "Source language code",  
            "example": "en"  
          },  
          "to_lang": {  
            "type": "string",  
            "description": "Target language code",  
            "example": "zh"  
          },  
          "origin_json": {  
            "type": "string",  
            "description": "Original JSON text to be translated",  
            "example": "{\"text\": \"Hello, world!\"}"  
          }  
        }  
      },
      "TranslationUpdateRequest": {  
        "type": "object",  
        "required": ["translation"],  
        "properties": {  
          "translation": {  
            "type": "object",   
            "required": ["from_lang", "to_lang"],  
            "properties": {  
              "from_lang": {  
                "type": "string",  
                "description": "Source language code",  
                "example": "en"  
              },  
              "to_lang": {  
                "type": "string",   
                "description": "Target language code",  
                "example": "zh"  
              }
            }  
          }  
        }  
      }
    }  
  }  
}