{  
  "openapi": "3.0.1",  
  "info": {  
    "title": "JSON Translation API",  
    "description": "API for JSON translation and document management",  
    "license": {  
      "name": "MIT"  
    },  
    "version": "1.0.0"  
  },  
  "servers": [  
    {  
      "url": "https://api.jsontrans.com"  
    }  
  ],  
  "paths": {  
    "/json/v1/translate": {  
      "get": {  
        "description": "Retrieve all translations",  
        "parameters": [  
          {  
            "name": "limit",  
            "in": "query",  
            "description": "Maximum number of results to return",  
            "schema": {  
              "type": "integer",  
              "format": "int32"  
            }  
          },  
          {  
            "name": "jt-api-key",  
            "in": "header",  
            "required": true,  
            "description": "API authentication key",  
            "schema": {  
              "type": "string"  
            }  
          }  
        ],  
        "responses": {  
          "200": {  
            "description": "Successful response",  
            "content": {  
              "application/json": {  
                "schema": {  
                  "type": "object",  
                  "properties": {  
                    "code": {  
                      "type": "integer",  
                      "example": 200  
                    },  
                    "msg": {  
                      "type": "string",  
                      "example": "Translations retrieved successfully"  
                    },  
                    "data": {  
                      "type": "array",  
                      "items": {  
                        "$ref": "#/components/schemas/Translation"  
                      }  
                    }  
                  }  
                }  
              }  
            }  
          },  
          "400": {  
            "description": "Bad request",  
            "content": {  
              "application/json": {  
                "schema": {  
                  "type": "object",  
                  "properties": {  
                    "code": {  
                      "type": "integer",  
                      "example": 400  
                    },  
                    "msg": {  
                      "type": "string",  
                      "example": "Bad request"  
                    },  
                    "data": {  
                      "type": "string",  
                      "example": ""  
                    }  
                  }  
                }  
              }  
            }  
          }  
        }  
      },  
      "post": {  
        "description": "Create a new translation document",  
        "requestBody": {  
          "description": "Translation document to be created",  
          "content": {  
            "application/json": {  
              "schema": {  
                "$ref": "#/components/schemas/TranslationRequest"  
              }  
            }  
          },  
          "required": true  
        },  
        "parameters": [  
          {  
            "name": "jt-api-key",  
            "in": "header",  
            "required": true,  
            "description": "API authentication key",  
            "schema": {  
              "type": "string"  
            }  
          }  
        ],  
        "responses": {  
          "201": {  
            "description": "Translation document created successfully",  
            "content": {  
              "application/json": {  
                "schema": {  
                  "type": "object",  
                  "properties": {  
                    "code": {  
                      "type": "integer",  
                      "example": 201  
                    },  
                    "msg": {  
                      "type": "string",  
                      "example": "Translation document created successfully"  
                    },  
                    "data": {  
                      "type": "string",  
                      "description": "The JSON document ID of the created translation",  
                      "example": "5fdb00c9-ce05-484e-a7e2-5f578953114b"  
                    }  
                  }  
                }  
              }  
            }  
          },  
          "400": {  
            "description": "Bad request",  
            "content": {  
              "application/json": {  
                "schema": {  
                  "type": "object",  
                  "properties": {  
                    "code": {  
                      "type": "integer",  
                      "example": 400  
                    },  
                    "msg": {  
                      "type": "string",  
                      "example": "Bad request"  
                    },  
                    "data": {  
                      "type": "string",  
                      "example": ""  
                    }  
                  }  
                }  
              }  
            }  
          }  
        }  
      }  
    },  
    "/json/v1/translate/{id}": {  
      "get": {  
        "description": "Retrieve a specific translation by ID",  
        "parameters": [  
          {  
            "name": "id",  
            "in": "path",  
            "description": "Unique identifier of the translation document",  
            "required": true,  
            "schema": {  
              "type": "string",  
              "example": "5fdb00c9-ce05-484e-a7e2-5f578953114b"  
            }  
          },  
          {  
            "name": "jt-api-key",  
            "in": "header",  
            "required": true,  
            "description": "API authentication key",  
            "schema": {  
              "type": "string"  
            }  
          }  
        ],  
        "responses": {  
          "200": {  
            "description": "Successful retrieval of translation",  
            "content": {  
              "application/json": {  
                "schema": {  
                  "type": "object",  
                  "properties": {  
                    "code": {  
                      "type": "integer",  
                      "example": 200  
                    },  
                    "msg": {  
                      "type": "string",  
                      "example": "Translation retrieved successfully"  
                    },  
                    "data": {  
                      "$ref": "#/components/schemas/Translation"  
                    }  
                  }  
                }  
              }  
            }  
          },  
          "400": {  
            "description": "Bad request",  
            "content": {  
              "application/json": {  
                "schema": {  
                  "type": "object",  
                  "properties": {  
                    "code": {  
                      "type": "integer",  
                      "example": 400  
                    },  
                    "msg": {  
                      "type": "string",  
                      "example": "Bad request"  
                    },  
                    "data": {  
                      "type": "string",  
                      "example": ""  
                    }  
                  }  
                }  
              }  
            }  
          }  
        }  
      },  
      "put": {  
        "description": "Update a specific translation document",  
        "parameters": [  
          {  
            "name": "id",  
            "in": "path",  
            "description": "Unique identifier of the translation document",  
            "required": true,  
            "schema": {  
              "type": "string",  
              "example": "5fdb00c9-ce05-484e-a7e2-5f578953114b"  
            }  
          },  
          {  
            "name": "jt-api-key",  
            "in": "header",  
            "required": true,  
            "description": "API authentication key",  
            "schema": {  
              "type": "string"  
            }  
          }  
        ],  
        "requestBody": {  
          "description": "Updated translation document",  
          "content": {  
            "application/json": {  
              "schema": {  
                "$ref": "#/components/schemas/TranslationRequest"  
              }  
            }  
          },  
          "required": true  
        },  
        "responses": {  
          "200": {  
            "description": "Translation updated successfully",  
            "content": {  
              "application/json": {  
                "schema": {  
                  "type": "object",  
                  "properties": {  
                    "code": {  
                      "type": "integer",  
                      "example": 200  
                    },  
                    "msg": {  
                      "type": "string",  
                      "example": "Translation updated successfully"  
                    },  
                    "data": {  
                      "$ref": "#/components/schemas/Translation"  
                    }  
                  }  
                }  
              }  
            }  
          },  
          "400": {  
            "description": "Bad request",  
            "content": {  
              "application/json": {  
                "schema": {  
                  "type": "object",  
                  "properties": {  
                    "code": {  
                      "type": "integer",  
                      "example": 400  
                    },  
                    "msg": {  
                      "type": "string",  
                      "example": "Bad request"  
                    },  
                    "data": {  
                      "type": "string",  
                      "example": ""  
                    }  
                  }  
                }  
              }  
            }  
          }  
        }  
      },  
      "delete": {  
        "description": "Delete a specific translation document",  
        "parameters": [  
          {  
            "name": "id",  
            "in": "path",  
            "description": "Unique identifier of the translation document",  
            "required": true,  
            "schema": {  
              "type": "string",  
              "example": "5fdb00c9-ce05-484e-a7e2-5f578953114b"  
            }  
          },  
          {  
            "name": "jt-api-key",  
            "in": "header",  
            "required": true,  
            "description": "API authentication key",  
            "schema": {  
              "type": "string"  
            }  
          }  
        ],  
        "responses": {  
          "204": {  
            "description": "Translation document deleted successfully",  
            "content": {  
              "application/json": {  
                "schema": {  
                  "type": "object",  
                  "properties": {  
                    "code": {  
                      "type": "integer",  
                      "example": 204  
                    },  
                    "msg": {  
                      "type": "string",  
                      "example": "Translation document deleted"  
                    },  
                    "data": {  
                      "type": "string",  
                      "example": ""  
                    }  
                  }  
                }  
              }  
            }  
          },  
          "400": {  
            "description": "Bad request",  
            "content": {  
              "application/json": {  
                "schema": {  
                  "type": "object",  
                  "properties": {  
                    "code": {  
                      "type": "integer",  
                      "example": 400  
                    },  
                    "msg": {  
                      "type": "string",  
                      "example": "Bad request"  
                    },  
                    "data": {  
                      "type": "string",  
                      "example": ""  
                    }  
                  }  
                }  
              }  
            }  
          }  
        }  
      }  
    }  
  },  
  "components": {  
    "schemas": {  
      "Translation": {  
        "type": "object",  
        "required": [  
          "source_lang",  
          "target_lang",  
          "source_text",  
          "translated_text"  
        ],  
        "properties": {  
          "source_lang": {  
            "type": "string",  
            "description": "Source language code",  
            "example": "en"  
          },  
          "target_lang": {  
            "type": "string",  
            "description": "Target language code",  
            "example": "zh"  
          },  
          "source_text": {  
            "type": "string",  
            "description": "Original text to be translated",  
            "example": "Hello, world!"  
          },  
          "translated_text": {  
            "type": "string",  
            "description": "Translated text",  
            "example": "你好，世界！"  
          }  
        }  
      },  
      "TranslationRequest": {  
        "type": "object",  
        "required": [  
          "from_lang",  
          "to_lang",  
          "origin_json"  
        ],  
        "properties": {  
          "from_lang": {  
            "type": "string",  
            "description": "Source language code",  
            "example": "en"  
          },  
          "to_lang": {  
            "type": "string",  
            "description": "Target language code",  
            "example": "zh"  
          },  
          "origin_json": {  
            "type": "string",  
            "description": "Original text to be translated",  
            "example": {
              "key": "hello world!"
            }
          }  
        }  
      }  
    }  
  }  
}